
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    background-image: url('l.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Button to Open Modal */
#openModalBtn {
    padding: 10px 20px;
    background-color: peru;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#openModalBtn:hover {
    background-color:blue;
}

/* Modal (Hidden by Default) */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
}

/* Modal Content */
.modal-content {
    background-color: white;
    padding: 20px;
    margin: 10% auto;
    width: 50%;
    border-radius: 8px;
    text-align: center;
}

/* Close Button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover {
    color: red;
}
