.student-card {
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    color: white;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .freshman {
    background-color:yellow;
  }
  
  .sophomore {
    background-color:purple;
    color: black;
  }
  
  .junior {
    background-color: blue;
  }
  
  .senior {
    background-color: red;
  }
  