
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: plum;
    color: #333;
}
header{
    background-color: #4CAF50;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10Px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

#display {
    font-size: 2em;
    margin-bottom: 20px;
}

.controls button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

button:disabled {
    cursor: not-allowed;
    background-color: #ccc;
}

#startBtn {
    background-color: #4CAF50;
    color: white;
}

#stopBtn {
    background-color: #f44336;
    color: white;
}

#resetBtn {
    background-color: #2196F3;
    color: white;
}

.controls button:hover {
    opacity: 0.8;
}
